<!--<div class="page-header">-->
    <!--<h2>Places i've been</h2>-->
<!--</div>-->
<!--<pre ng-if="false" class="code">{{model | json}}</pre>-->


<!--<div class="row">-->
    <!--<div class="col-md-offset-4 col-md-4">-->
        <!--<div class="input-group">-->
            <!--<input type="text" class="form-control" ng-model="model.selected">-->
      <!--<span class="input-group-btn">-->
        <!--<button class="btn btn-success" ng-click="add(model.selected)" type="button">Add-->
        <!--</button>-->

      <!--</span>-->
        <!--</div>-->
        <!--<div class="list-group margin-top-20" ng-repeat="place in model.places">-->

            <!--<a href="#" class="list-group-item text-center" ng-click="selectProfile(profile.ID_PROFILE)"><h4><span-->
                    <!--class="climacon" ng-class="place.icon" style="font-size: 2em;"></span> {{place.address}} {{place.temp}}</h4></a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div layout="row">-->
<!--<div>I'm left.</div>-->
<!--<div>I'm right.</div>-->
<!--</div>-->

<!--<div layout="column">-->
    <!--<div>I'm above.</div>-->
    <!--<div>I'm below.</div>-->
<!--</div>-->
<md-toolbar md-theme="indigo">
    <div class="md-toolbar-tools">
        <span class="md-flex">Teddy v.0.1</span>
    </div>
</md-toolbar>

<md-tabs md-selected="data.selectedIndex">
    <md-tab id="tab1" aria-controls="tab1-content">
        Item One
    </md-tab>
    <md-tab id="tab2" aria-controls="tab2-content" ng-disabled="data.secondLocked">
        {{data.secondLabel}}
    </md-tab>
    <md-tab id="tab3" aria-controls="tab3-content">
        Item Three
    </md-tab>
</md-tabs>

<ng-switch on="data.selectedIndex" class="tabpanel-container">
    <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()">
        View for Item #1<br/>
        data.selectedIndex = 0
    </div>
    <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()">
        View for {{data.secondLabel}}<br/>
        data.selectedIndex = 1
    </div>
    <div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()">
        View for Item #3<br/>
        data.selectedIndex = 2
    </div>
</ng-switch>

<div class="after-tabs-area" layout="row" layout-phone="column" layout-padding layout-align="left center">

    <md-text-float type="number" label="Selected Index" ng-model="data.selectedIndex"></md-text-float>
    <div flex></div>
    <span>Item Two: </span>
    <md-checkbox ng-model="data.secondLocked" aria-label="Disabled">
        Disabled
    </md-checkbox>

</div>
